<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
    <h1>Product Listing</h1>
    </header>

    <div class="product-card">
        {% for product in products %}
        <div class="card">
            <img src="{{product.image.url}}" alt="Product Image 1">
            <div class="card-content">
            <div class="product-title">{{product.name}}</div>
            <div class="product-rating">4.5 out of 5 stars</div>
            <div class="product-price">{{product.price}}$</div>
            <div class="prime-badge">Amazon Prime</div>
            <a href="{% url 'web:product_detail' pk=product.pk %}" class="btn">Show Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    




    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'web:product_create' %}">Add New Product</a>
    {% endif %}

</div>

</body>
</html>
