<!-- product_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Product</title>
</head>

<body>
    <header>
        <h1>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Product</h1>
    </header>
    <div class="form-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
            <a class="cancel_btn" href="{% url 'web:index' %}">Cancel</a>
        </form>
    </div>
</body>
</html>
