<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
    <h1>Product Details</h1>
    </header>
    
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" alt="{{ product.name }} Image">
    <p>Description: {{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    
    <a href="{% url 'web:index' %}">Back to Product List</a>
    <a href="{% url 'web:product_update' pk=product.pk %}">Edit</a>
    {% comment %} <a href="{% url 'product_delete' pk=product.pk %}">Delete</a>  {% endcomment %}

</div>

</body>
</html>
